.idea
.ipynb_checkpoints
__pycache__/
example_pipeline.py
tests/test_fixtures/BreastCountFiles
tests/test_fixtures/golden/cpm_breast.csv
tests/test_fixtures/golden/golden_counts_matrix_breast.csv
read_dge_counts_breast.csv
tests/BreastCountFiles
breast_cancer_notebook.ipynb
external_data