.idea
.ipynb_checkpoints
__pycache__/
tests/test_fixtures/golden_breast/cpm.csv
tests/test_fixtures/count_files_lung
tests/test_fixtures/samples_info_lung.csv
tests/htmlcov
tests/.coverage
todo.md
Makefile